.page-footer  {
    background-color: rgb(2, 75, 51);
    /* height:50vh; */
    color: lightgray;
}

.footer-copyright {
    background-color: rgb(4, 51, 35);
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: yellow
}