<div class="container-width cont-style cont-style-parent">
    <div class="cont-style-cont">
      <div class="row remove-pad-marg">
        <div class="headline col-lg-12 skill-board margin-bottom">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="skill-board-white">
                  <div class="col-lg-12">
                    <div class="card-columns">
                      <div class="card edit-btn" *ngFor="let vehicle of vehicleList">
                        <button type="button" class="btn btn-default btn-sm editBtn" data-toggle="modal"
                          data-target=".addUpdateModal">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                        <img class="card-img-top" [src]="'http://localhost:8082/images' + vehicle.vehicleMediaModelList[0].vehicleMediaEncodedImage" alt="Card image cap" />
                        <div class="card-body">
                          <h5 class="card-title">BMW X3 xDrive</h5>
                          <h6 class="card-title">$1000</h6>
                          <span class="card-text">2015</span>
                          <span class="card-text">50,222km</span>
                          <span class="card-text">Diesel</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------------------- -->
    </div>
  </div>