<div class="conatiner-fluid title-style">
  <div class="row remove-pad-marg">
      <div class="">
          <h2>Sell Requires</h2>
      </div>
  </div>
</div>
<div class="container-width cont-style cont-style-parent">
  <div class="cont-style-cont">
      <div class="row remove-pad-marg">
          <div class="headline col-lg-12 skill-board margin-bottom">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="row">
                          <div class="skill-board-white">
                              <div class="col-lg-12">
                                  <div class="table-responsive">
                                      <p>List of Repuest</p>
                                      <table class="table">
                                          <thead>
                                              <tr>
                                                  <th scope="col">Sr. No.</th>
                                                  <th scope="col">Name</th>
                                                  <th scope="col">Email</th>
                                                  <th scope="col">Mobile No.</th>
                                                  <th scope="col">Status</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <th scope="row">1</th>
                                                  <td>Mark</td>
                                                  <td>Otto@gm.com</td>
                                                  <td>2882826626</td>
                                                  <td>Pending</td>
                                              </tr>
                                              <tr>
                                                  <th scope="row">2</th>
                                                  <td>Max</td>
                                                  <td>Otto@gm.com</td>
                                                  <td>2882826626</td>
                                                  <td>Block</td>
                                              </tr>
                                              <tr>
                                                  <th scope="row">3</th>
                                                  <td>Ogy</td>
                                                  <td>Otto@gm.com</td>
                                                  <td>2882826626</td>
                                                  <td>Approved</td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- ------------------------------------------------------------------------------------------------- -->
  </div>
</div>